Repository Arindam2407/deltakit, changes with the owners that CODEOWNERS names for each.
All owners: @mdhaber, @KentonRL, @nelimee, @AndrewPattersonRL, @oc251, @theinsanetramp

CODEOWNERS:

# @mdhaber will be the default owner for everything in
# the repo. Unless a later match takes precedence,
# @mdhaber will be requested for review when someone opens
# a pull request.
*                   @mdhaber

# @KentonRL owns any file in deltakit-decode
# directory anywhere in the repository.
deltakit-decode/    @KentonRL


# @nelimee, @AndrewPattersonRL and @oc251
# co-own any file in deltakit-explorer
deltakit-explorer/    @nelimee @AndrewPattersonRL @oc251


# @KentonRL and @theinsanetramp co-own any file in deltakit-core
# directory anywhere in the repository.
deltakit-core/    @KentonRL @theinsanetramp

Fixing test
  deltakit-core/tests/unit/types/test_data_string.py
Owners: @KentonRL, @theinsanetramp

ruff format
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Computing stddevs directly instead of having variances
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Fixing typo in standard deviation computation
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Fix real-world test
  deltakit-explorer/tests/analysis/test_analysis.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Directly compute stddev
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

LEPPRResults -> LogicalErrorRatePerRoundResults
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Fix outdated return type in docstring
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Use new numpy.random interface
  deltakit-explorer/tests/analysis/test_analysis.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Apply suggestions from code review
  docs/examples/notebooks/visualization/surface_code_demo.ipynb
Owners: @mdhaber

Merge remote-tracking branch 'origin/main' into feat/better_lambda_computation
  .github/workflows/static_code_analysis.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  deltakit-circuit/README.md
  deltakit-core/README.md
  deltakit-decode/README.md
  deltakit-decode/pyproject.toml
  deltakit-decode/ruff.toml
  deltakit-decode/tests/__init__.py
  deltakit-explorer/README.md
  deltakit-explorer/pyproject.toml
  deltakit-explorer/src/deltakit_explorer/_api/_client.py
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
  deltakit-explorer/src/deltakit_explorer/qpu/_noise/_physical_noise.py
  deltakit-explorer/tests/__init__.py
  deltakit-explorer/tests/helpers/__init__.py
  docs/index.rst
  mypy.ini
Owners: @mdhaber, @KentonRL, @theinsanetramp, @nelimee, @AndrewPattersonRL, @oc251

Adding a note on the fit parameters
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Fix mypy
  deltakit-explorer/src/deltakit_explorer/analysis/budget/generation.py
  deltakit-explorer/src/deltakit_explorer/analysis/budget/noise.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Ignoring gradient tests as unused
  deltakit-explorer/tests/analysis/budget/test_gradient.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Un-ignore deltakit_decode for ruff format
  ruff.toml
Owners: @mdhaber

ruff format
  deltakit-decode/src/deltakit_decode/_abstract_matching_decoders.py
  deltakit-decode/src/deltakit_decode/_base_reporter.py
  deltakit-decode/src/deltakit_decode/_mwpm_decoder.py
  deltakit-decode/src/deltakit_decode/analysis/__init__.py
  deltakit-decode/src/deltakit_decode/analysis/_decoder_manager.py
  deltakit-decode/src/deltakit_decode/analysis/_decoding_circuits.py
  deltakit-decode/src/deltakit_decode/analysis/_empirical_decoding_error_distribution.py
  deltakit-decode/src/deltakit_decode/analysis/_matching_decoder_managers.py
  deltakit-decode/src/deltakit_decode/analysis/_run_all_analysis_engine.py
  deltakit-decode/src/deltakit_decode/noise_sources/__init__.py
  deltakit-decode/src/deltakit_decode/noise_sources/_generic_noise_sources.py
  deltakit-decode/src/deltakit_decode/noise_sources/_matching_noise_sources.py
  deltakit-decode/src/deltakit_decode/noise_sources/_stim_noise_sources.py
  deltakit-decode/src/deltakit_decode/utils/__init__.py
  deltakit-decode/src/deltakit_decode/utils/_decoding_graph_visualiser.py
  deltakit-decode/src/deltakit_decode/utils/_derivation_tools.py
  deltakit-decode/src/deltakit_decode/utils/_derivation_tools_pij.py
  deltakit-decode/src/deltakit_decode/utils/_graph_circuit_helpers.py
  deltakit-decode/src/deltakit_decode/utils/_pij_visualiser.py
  deltakit-decode/tests/analysis/test_empirical_decoding_error_distribution.py
  deltakit-decode/tests/analysis/test_matching_decoder_managers.py
  deltakit-decode/tests/analysis/test_run_all_analysis_engine.py
  deltakit-decode/tests/conftest.py
  deltakit-decode/tests/noise_sources/test_noise_sources_error_generator.py
  deltakit-decode/tests/noise_sources/test_stim_noise_sources.py
  deltakit-decode/tests/unit/utils/test_decoding_graph_visualiser.py
  deltakit-decode/tests/unit/utils/test_derivation_tools.py
  deltakit-decode/tests/unit/utils/test_derivation_tools_pij.py
  deltakit-decode/tests/unit/utils/test_graph_circuit_helpers.py
  deltakit-decode/tests/unit/utils/test_parse_stim_circuit.py
  deltakit-decode/tests/unit/utils/test_pij_visualiser.py
Owners: @KentonRL

Fixed token setting tests by changing 403 to 401
  deltakit-explorer/tests/server/test_api_v2_client.py
  deltakit-explorer/tests/server/test_token.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Remove Whitespace
  deltakit-explorer/tests/server/test_token.py
Owners: @nelimee, @AndrewPattersonRL, @oc251

Added Requested Comment
  deltakit-explorer/tests/server/test_token.py
  docs/guide/measurements.01
Owners: @nelimee, @AndrewPattersonRL, @oc251, @mdhaber

Removed unnecessary file
  docs/guide/measurements.01
Owners: @mdhaber
